@font-face {
    font-family: 'titulo'; 
    src: url('../fonts/Benguiat Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'corpo';
    src: url('../fonts/open-sauce.one-regular.ttf');
}

html, body {
    height: 100vh;
    margin: 0;
}

.introCenter {
    background-color: #727c42;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introCenter .titulo {
    font-family: 'titulo';
    color: #ffeed5;
    font-size: 70px;
    text-align: center;
   
}

.introCenter p {
    font-family: 'corpo';
    font-size: 25px;
    color: #ffeed5;
    text-align: center;
}

.final {
    background-color: #727c42;
    width: auto;
    height: 100vh;
}

.corpo {
    background-color: #fde5c1;
    width: auto;
    height: 100vh;
}

.corpo .tituloSeg {
    font-family: 'titulo';
    color: #727c42;
    font-size: 37px;
    margin: 0; 
    transform: translateY(120px);
    margin-left: 160px;
    display: flex;
    flex-direction: column;
}

p {
    transform: translateY(120px);
    margin-left: 50px;
    font-size: 16px;
    font-family: 'corpo';
}

.corpo .verde {
    background-color: #727c42;
    height: 2px;
    width: 50%;
    border: none;
    transform: translateY(120px);
    margin-left: 50px;
    margin: 20px 0;
}

.corpo .MyPhoto {
    transform: translateY(120px);
    margin-right: 50px;
    width: 1080px;
    height: 1440px;
}