@font-face {
    font-family: 'titulo'; 
    src: url('../fonts/Benguiat Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'corpo';
    src: url('../fonts/open-sauce.one-regular.ttf');
}

html, body {
    height: 100vh;
    margin: 0;
}

.introCenter {
    background-color: #727c42;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introCenter .titulo {
    font-family: 'titulo';
    color: #ffeed5;
    font-size: 70px;
}

.introCenter p {
    font-family: 'corpo';
    font-size: 25px;
    color: #ffeed5;
}

.final {
    background-color: #727c42;
    width: auto;
    height: 100vh;
}

.corpo {
    background-color: #fde5c1;
    width: auto;
    height: 100vh;
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.1), 
                inset 0px -10px 10px -10px rgba(0,0,0,0.1);
}

.corpoProjeto {
    background-color: #fde5c1;
    width: auto;
    height: 100vh;
}

.corpo .tituloSeg {
    font-family: 'titulo';
    color: #727c42;
    font-size: 37px;
    margin: 0; 
    transform: translateY(120px);
    margin-left: 400px;
    display: flex;
    flex-direction: column;
}

.corpo .descricao {
    transform: translateY(120px);
    margin-left: 180px;
    font-size: 16px;
    font-family: 'corpo';
}

.corpo .verde {
    background-color: #727c42;
    height: 2px;
    width: 50%;
    border: none;
    transform: translateY(120px);
    margin-left: 50px;
    margin: 20px 0;
}

.corpo .MyPhoto {
    height: 65%;
    width: auto;
    position: absolute;
    right: 0;
    margin-top: -75px;
    margin-right: 200px;
    border: 0px solid #727c42;padding: 20px; box-shadow: 0 0 0 1px #727c42 inset;
}


.corpoProjeto .tituloTer {
    font-family: 'titulo';
    color: #727c42;
    font-size: 57px;
    margin: 0; 
    transform: translateY(120px);
    margin-left: 400px;
    display: flex;
    flex-direction: column;
}

.corpoProjeto .verde {
    background-color: #727c42;
    height: 2px;
    width: 50%;
    border: none;
    transform: translateY(88px);
    margin-right: 0;
}

.corpoProjeto .containerCard {
    display: flex;
    flex-direction: row;
    transform: translateY(250px);
    margin-left: 300px;
    gap: 100px;
}

.card {
  font-family: 'corpo';
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.botao-download {
  border: none;
  outline: 0;
  display: inline-block;
  color: #ffeed5;
  background-color: #727c42;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.final .tituloFinal {
    font-family: 'titulo';
    color: #fde5c1;
    font-size: 66px;
    margin: 0; 
    transform: translateY(300px);
    margin-left: 1300px;
    display: flex;
    flex-direction: column;
}

.final p {
    font-family: 'corpo';
    color: #fde5c1;
    font-size: 44px;
    margin: 0; 
    transform: translateY(300px);
    margin-left: 1300px;
    display: flex;
    flex-direction: column;
}

.final .contatos {
   max-width: 400px;
   min-height: 100px;
   transform: translateY(300px);
   background-color: #fde5c1;
   padding: 25px;
   box-sizing: border-box; 
   margin: 20px 0;
   margin-left: 1300px;
   border-radius: 10px;
}

.contatos img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 35px;
    margin-top: 5px;
}

.final .bege {
    background-color: #fde5c1;
    height: 2px;
    width: 100%;
    border: none;
    transform: translateY(450px);
    margin: 0;
}

.final .chamativo {
    font-family: 'titulo';
    color: #fde5c1;
    font-size: 66px;
    margin: 0; 
    transform: translateY(200px);
    margin-left: 200px;
}
